pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    background: #061a1a;
    color: #020203
}

.hljs-comment {
    color: rgba(214, 212, 212, 0.411);
}

.hljs-punctuation,
.hljs-tag {
    color: rgb(150, 150, 150)
}

.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
    color: rgba(214, 212, 212, 0.411)
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
    font-weight: 700
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
    color: rgb(43, 18, 18)
}

.hljs-section,
.hljs-title {
    color: rgb(67, 95, 97);
    font-weight: 700
}

.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: rgb(10, 68, 29)
}

.hljs-literal {
    color: rgb(224, 75, 75);
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
    color: #8d7a85
}

.hljs-meta {
    color: #5b676d
}

.hljs-meta .hljs-string {
    color: rgb(14, 101, 136)
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}
